body{margin:0;background:#8fa1b1;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;color:#ffffff}
.navbar{
display: flex;
  justify-content: space-between;
 align-items: center;
 padding: 20px 50px;
 background-color: #111827;
}
.logo{
    font-size: 30px;
    font-weight: 600;
}
.linkes ul {
    list-style: none; 
    padding: 0;
    margin: 0;
    display: flex;
    gap: 25px; 
}
.linkes ul li a{
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    padding: 8px 15px;
    border-radius: 5px;
     transition: background-color 0.3s, color 0.3s;


}
.lllogo{text-decoration: none;
    color: #ffffff;
    font-size: 28px;
    padding: 8px 15px;
    border-radius: 5px;
     transition: background-color 0.3s, color 0.3s;
}
.linkes li a.active {
    background-color: #4b6cb7; 
    color: white;
    font-weight: bold;
}
.linkes li a:hover:not(.active) {
    background-color: rgba(255, 255, 255, 0.1); 
    color: #4b6cb7; 
}
#press{width:80px;height:80px;border-radius:50%;margin: 0;padding:0;background-color:#253044;border-color: #4cc9f0;color:#4cc9f0;font-size: 18px;font-weight: 700;}

.container{max-width:1200px;margin:32px auto;padding:18px}
header h1{margin:0;font-size:28px;text-align:center}
.top{display:grid;grid-template-columns:1fr 400px;gap:20px;margin-top:22px}
.sensors,.info,.chart-card{background:#1b2436;border-radius:18px;padding:20px;box-shadow:0 6px 20px rgba(0,0,0,.25);margin-bottom: 20px;}
.circles{display:flex;gap:30px;justify-content:space-between}
.circle-card{text-align:center;width:35%}
.circle{width:120px;height:120px;border-radius:50%;margin:auto;position:relative;display:grid;place-items:center;font-weight:700;font-size:20px;}
.circle-bg{position:absolute;inset:0;border-radius:50%;background:conic-gradient(#4cc9f0 0deg,#253044 0deg)}
.value{position:relative;z-index:2}
.label{margin-top:8px;font-size:14px;color:#aab4c5}
.info{display:flex;flex-direction:column;gap:20px}
.date-card{text-align:center;background:#111827;border-radius:16px;padding:16px}
.date-weather{text-align:center;background:#111827;border-radius:16px;padding:16px}
.date-circle{width:80px;height:80px;border-radius:50%;display:grid;place-items:center;background:#1f2a40;font-weight:700;font-size:24px;margin:auto;color:#4cc9f0}
.date-text{font-size:14px;color:#e8ebf0;margin-top:6px}
.sensor-info{display:flex;flex-direction:column;gap:14px}
.info-row{display:flex;justify-content:space-between;align-items:center;background:#111827;border-radius:12px;padding:12px}
.info-row h3{margin:0;font-size:14px}
.info-row p{margin:0;font-size:12px;color:#9aa5b5}
.side-val{font-weight:700;width:50px;text-align:center;font-size:16px;color:#4cc9f0}
.chart-card canvas{margin-top:20px;width:100%;height:200px;background:#111827;padding:10px;border-radius:14px}

/* #lineChart1{background: #123160;}
#lineChart2{background: #123160;}
#lineChart3{background: #123160;} */

@media(max-width:900px){.top{grid-template-columns:1fr}.circles{flex-direction:column}.circle-card{width:100%}}

.mohr
{
text-align:center;background:#111827;border-radius:16px;padding:16px;width: auto;
}
#text{
    background-color:#d0dbe5;
    width: 250px;
    height: 30px;
    border-radius:10px ;
}
#sendData{
      height: 35px;
       border-radius:10px ;
       background-color: #1b2436;
       color: #ffffff;
    font-weight: bold;
}
#msgs{margin-bottom: 20px;font-weight: bold;color:#d4ddec;
}